<template>
  <h1>Calendar</h1>
  <form @submit.prevent="submit">
    <label for="id">Film id:</label>
    <input required name="id" id="id" type="text" data-selector="id" v-model="id">
    <label for="day">Date:</label>
    <input required name="day" id="day" type="date" data-selector="day" v-model="day">
    <button data-selector="search">Search</button>
  </form>
</template>

<script setup lang="ts">
import {ref} from "vue";
import {useRouter} from "vue-router";

const router = useRouter();

const day = ref<string>('');
const id = ref<string>('');

const submit = () => {
  router.push({
    name: 'movie',
    params: {
      id: id.value,
      day: day.value,
    },
  });
}
</script>
