<template>
  <template v-if="coords">
    <div v-if="movie">
      <h1>{{movie.title}}</h1>
      <section v-for="place in movie.places">
        <h2 >{{place.cinema}}</h2>
        <p>{{place.address}}</p>
        <section v-for="session in place.sessions">
          <span>{{session.start}} - {{session.end}}</span> <button data-selector="ics" @click="() => download(session)">Add to calendar</button>
        </section>
      </section>
    </div>
  </template>
  <template v-else>
    <p>You're currently not located</p>
  </template>
</template>

<script setup lang="ts">
import {autowire, MOVIE_REPOSITORY} from "../Injection";
import {ref} from "vue";
import {Movie, Session} from "../domain/Movie";
import {downloadBlob, toIcs} from "./MovieIcs";

const coords = ref<GeolocationCoordinates>();

const props = defineProps<{
  id: string,
  day: string,
}>();

const repository = autowire(MOVIE_REPOSITORY);
const movie = ref<Movie>();

const toDate = (isoDay: string): Date => new Date(isoDay + 'T00:00:00.000');
const toEndDate = (isoDay: string): Date => new Date(isoDay + 'T23:59:59.999');

const localized = (pos: GeolocationPosition) => {
  coords.value = pos.coords;
  repository.get({
    id: props.id,
    start: toDate(props.day),
    end: toEndDate(props.day),
    location: {
      latitude: pos.coords.latitude,
      longitude: pos.coords.longitude,
    },
  }).then((received)=> movie.value=received).catch(console.error);
}

const download = async (session: Session) => {
  const  event = await toIcs({
    title: session.title,
    location: session.address,
    start: session.start.time,
    end: session.end.time,
  });

  downloadBlob(new Blob([event], { type: 'text/calendar' }), session.slug);
};

navigator.geolocation.getCurrentPosition(localized);
</script>
